<suite name="Suite" >
<listeners>
<listener class-name="Listeners.Transformer"/>
<listener class-name="Listeners.ListenerTest"/>
</listeners>
 <test name="ChromeBrowser">
   <parameter name="browser"  value="Chrome"/>
    <classes>
    <class name="Tests.Arraytest"/>
      <class name="Tests.Queuetest"/>
      <class name="Tests.Registertest"/>
      <class name="Tests.Logintest"/>
      <class name="Tests.Graphtest"/>
      <class name="Tests.Hometest"/>
      <class name="Tests.Treetest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->